:root {
	--color-primary: #79AA00FF;
	--color-subtle: #b0b0b0;
}

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.zoog-pass-g-checkboxes-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.zoog-pass-g-wrapper {
	max-width: 100%;
	width: 600px;
	margin: 0 auto;
}

.zoog-pass-g-checkbox-control {
	padding: 10px;
}

.zoog-pass-g-button {
	border: none;
	background-color: var(--color-primary);
	padding: 0.375rem 0.75rem;
	width: 250px;
	max-width: 90%;
	font-size: 1rem;
	line-height: 1.5;
	display: block;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 auto;
}
.zoog-pass-g-input {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.375rem;
}

.zoog-pass-g-input-field {
	position: relative;
}

.zoog-pass-g-copy {
	position: absolute;
	right: 10px;
	top: 6px;
	cursor: pointer;
}

.zoog-pass-g-range {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px 0;
}

.zoog-pass-g-range-label {
	display: flex;
}

.zoog-pass-g-range-control {
	user-select: none;
	display: flex;
	cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 10em;
	border: 1px solid #ccc;
	justify-content: center;
	align-items: center;
}
.zoog-pass-g-range-input {
	-webkit-appearance: none;
	background:transparent;
}

.zoog-pass-g-range-input::-webkit-slider-thumb {
	-webkit-appearance: none;
	height:16px;
	width:16px;
	border-radius:50%;
	border:none;
	background-color:white;
	transform:translateY(-5px);
	border:1px solid #ccc;
}

.zoog-pass-g-range-input::-moz-range-thumb {
	-webkit-appearance: none;
	height:16px;
	width:16px;
	border-radius:50%;
	border:none;
	background-color:white;
	border:1px solid #ccc;
}

.zoog-pass-g-range-input::-webkit-slider-runnable-track {
	background:var(--color-primary);
	height:5px;
	border-radius:20px;
	
}
.zoog-pass-g-range-input::-moz-range-track{
	background:var(--color-primary);
	height:5px;
	border-radius:20px;
}

.zoog-pass-g-pass-length {
	margin-top: 10px;
}


.zoog-pass-g-checkbox-control input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 24px;
	width: 24px;
	background: #fff;
	border: 2px solid var(--color-subtle);
	margin: 0 8px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline-offset: 5px;
	outline-color: var(--color-subtle);
}
.zoog-pass-g-checkbox-control input[type=checkbox]:disabled {
	opacity: 0.7;
	background: var(--color-subtle);
	cursor: not-allowed;
}
.zoog-pass-g-checkbox-control input[type=checkbox]:after {
	content: "";
	display: block;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
}
.zoog-pass-g-checkbox-control input[type=checkbox]:checked:after {
	transform: scale(1);
}

.zoog-pass-g-checkbox-control input[type=checkbox] {
	border-radius: 5px;
}
.zoog-pass-g-checkbox-control input[type=checkbox]:after {
	width: 16px;
	height: 16px;
}
.zoog-pass-g-checkbox-control input[type=checkbox]:checked {
	border: none;
	background-color: var(--color-primary, #dfdfdf);
}
.zoog-pass-g-checkbox-control input[type=checkbox]:checked:after {
	content: url("data:image/svg+xml, <svg viewBox='0 0 16 15' xmlns='http://www.w3.org/2000/svg'><path fill='white' d='M15.25.847a1.51 1.51 0 0 1 .405 2.096L8.106 14.11a1.944 1.944 0 0 1-2.94.329L.6 10.156a1.51 1.51 0 1 1 2.067-2.202l3.645 3.42 6.841-10.122a1.51 1.51 0 0 1 2.098-.405Z'/></svg>");
}

.zoog-pass-g-checkbox-control input[type=radio] {
	border-radius: 20px;
}
.zoog-pass-g-checkbox-control input[type=radio]:after {
	width: 14px;
	height: 14px;
	border-radius: 7px;
}
.zoog-pass-g-checkbox-control input[type=radio]:checked {
	border-color: var(--color-primary);
}
.zoog-pass-g-checkbox-control input[type=radio]:checked:after {
	background-color: var(--color-primary);
}
